<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="true" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>
  <!-- 数据库连接配置信息-->
  <providers resource="providers.config"/>  	
	<database>
    <provider name="sqlServer2005"/>
    <dataSource name="db" connectionString="Data Source=localhost;database=xinluclub;uid=sa;pwd=frank;"/>
	</database>
  <!-- XML映射文件配置信息-->
	<sqlMaps>
    <sqlMap resource="SqlMapping\BoardGroup.xml" />
    <sqlMap resource="SqlMapping\Notify.xml" />
    <sqlMap resource="SqlMapping\Reply.xml" />
    <sqlMap resource="SqlMapping\Topic.xml" />
    <sqlMap resource="SqlMapping\User.xml" />
    <sqlMap resource="SqlMapping\Token.xml" />
    <sqlMap resource="SqlMapping\TopicGroup.xml" />
    <sqlMap resource="SqlMapping\User_TopicGroup.xml" />
    <sqlMap resource="SqlMapping\UserPassword.xml" />
    <sqlMap resource="SqlMapping\User_BoardGroup.xml" />
    <sqlMap resource="SqlMapping\Reply_Ex.xml" />
    <sqlMap resource="SqlMapping\Topic_Ex.xml" />
	</sqlMaps>
</sqlMapConfig>