<nz-modal [nzVisible]="isOpen" [nzTitle]="'修改密码'" [nzContent]="changemypassword" (nzOnOk)="changeMyPassword()" (nzOnCancel)="close()" [nzConfirmLoading]="loading"></nz-modal>
<ng-template #changemypassword>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
        <div nz-row>
            <div nz-col nz-form-label [nzSpan]="4">
                <label nz-form-item-required>旧密码</label>
            </div>
            <div nz-form-control nz-col nzHasFeedback [nzSpan]="20" [nzValidateStatus]="getFormControl('oldPassword')">
                <nz-input [(ngModel)]="oldPassword" nzType="password" formControlName="oldPassword" [nzId]="'oldPassword'"></nz-input>
                <div nz-form-explain *ngIf="getFormControl('oldPassword').dirty&&getFormControl('oldPassword').hasError('required')" style="color:red;">请输入旧密码!</div>
            </div>

        </div>
        <br>

        <div nz-row>
            <div nz-col nz-form-label [nzSpan]="4 ">
                <label nz-form-item-required>新密码</label>
            </div>
            <div nz-form-control nz-col nzHasFeedback [nzSpan]="20" [nzValidateStatus]="getFormControl('newPassword')">
                <nz-input [(ngModel)]="newPassword" nzType="password" formControlName="newPassword" [nzId]="'newPassword'"></nz-input>
                <div nz-form-explain *ngIf="getFormControl('newPassword').dirty&&getFormControl('newPassword').hasError('required')" style="color:red;">请输入新密码!</div>
            </div>
        </div>
        <br>

        <div nz-row>
            <div nz-col nz-form-label [nzSpan]="4 ">
                <label nz-form-item-required>确认密码</label>
            </div>
            <div nz-form-control nz-col nzHasFeedback [nzSpan]="20" [nzValidateStatus]="getFormControl('confirmPassword')">
                <nz-input [(ngModel)]="confirmPassword" nzType="password" formControlName="confirmPassword" [nzId]="'confirmPassword'"></nz-input>
                <div nz-form-explain *ngIf="getFormControl('confirmPassword').dirty&&getFormControl('confirmPassword').hasError('required')" style="color:red;">请输入新密码!</div>
                <div nz-form-explain *ngIf="getFormControl('confirmPassword').dirty&&getFormControl('confirmPassword').hasError('confirm')" style="color:red;">确认密码和新密码不一致!</div>
            </div>
        </div>
    </form>
</ng-template>