<ul nz-menu [nzMode]="'inline'" style="height:100%">
    <li nz-menu-item style="font-size:20px;" [nzSelected]="selectedMenuID=='-2'">
        <a [routerLink]="[{ outlets: { forum: ['search'] } }]">搜索</a>
    </li>
    <li nz-menu-item style="font-size:20px;" [nzSelected]="selectedMenuID=='-3'">
        <a [routerLink]="[{ outlets: { forum: ['mytopics'] } }]">我的发帖</a>
    </li>
    <li nz-menu-item style="font-size:20px;" [nzSelected]="selectedMenuID=='-3'">
        <a [routerLink]="[{ outlets: { forum: ['mynewestreply'] } }]">最新回复({{replyCount}})</a>
    </li>
    <li nz-menu-item style="font-size:20px;" [nzSelected]="selectedMenuID=='-1'">
        <a [routerLink]="[{ outlets: { forum: ['activelist'] } }]">最新动态</a>
    </li>
    <span *ngFor="let item of records">
    <li [nzSelected]="selectedMenuID == item.ID"  nz-menu-item style="font-size:20px;">
        <a [routerLink]="[{ outlets: { forum: ['topiclist', item.ID] } }]">{{item.Name}}</a>
    </li>
    </span>
</ul>